#life-bar-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh; // FIXME: 100% on safari
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px;
  pointer-events: none;
  z-index: 100;
}

.life-bar {
  width: 160px;
  color: white;
  background-color: rgb(50, 50, 50);
  font-family: var(--theme-font);
  border: 1px solid #222;
  padding: 1rem;
  padding-bottom: 0.6rem;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .name {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .life {
    font-size: 2rem;
  }
}
