.container {
  position: fixed;
  top: var(--header-height);
  height: calc(100% - var(--header-height));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
  }
}

.mode-select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); /* 自动调整行高 */
  width: 55rem;
  // height: 33rem;
  gap: 1rem;
  .mode {
    height: 100%;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 0.75rem;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0 0.25rem #226170;
      // background: hsla(0, 0%, 100%, 0.07);
      filter: brightness(1.2);
    }
    .icon {
      background: linear-gradient(#514f5780, #2a283277);
      overflow: hidden;
      position: relative;
      --length: 3rem;
      width: var(--length);
      height: var(--length);
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      color: white;
      transition: 0.2s;
      filter: brightness(1.5);
    }
    .title {
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
      font-size: 1rem;
    }
    .desc {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: hsla(0, 0%, 100%, 0.6);
      white-space: pre-wrap;
    }
  }
}
