.inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  .input {
    font-size: 1.2rem;
    font-family: var(--theme-font);
    color: #2885fff2;
    height: 3rem;
    margin: 0.25rem;
  }

  .select {
    margin: 0.25rem 0;
  }
}
