.custom-select {
  display: flex;
  align-items: center;
  .prefix {
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
    border-radius: 6px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  .select :global(.ant-select-selector) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
