.wrap {
  position: relative;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.main {
  height: 453px;
  width: 1000px;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    .neos-logo {
      width: 143px;
      height: 34px;
    }
    .title {
      font-size: 36px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.86);
    }
    .keywords {
      font-size: 24px;
      font-weight: 500;
      color: rgba(235, 245, 235, 0.8);
    }
    .details {
      margin-top: 31px;
      width: 450px;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      color: rgba(235, 245, 235, 0.5);
    }
  }
  .right {
    width: 360px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    .neos-main-bg {
      position: absolute;
      bottom: 0;
      width: fit-content;
      height: 360px;
      border-radius: 50%;
      filter: brightness(0.7);
    }
    .neos-main {
      position: absolute;
      bottom: 0;
      border-bottom-right-radius: 50%;
      transform: scale(1.25);
      transform-origin: 50% 100%;
      width: max-content;
      filter: drop-shadow(0px 8px 8px rgba(255, 255, 255, 0.3))
        drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));
      transition: 0.2s;
    }
  }
}
