section#mat {
  .mat-bg {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    .bg-row {
      display: flex;
      column-gap: var(--col-gap);
      &.opponent {
        flex-direction: row-reverse;
      }
    }
  }

  .block {
    height: var(--block-height-m);
    width: var(--block-width);
    // background-color: rgba(128, 128, 128, 0.447);
    box-shadow: 0 0 0 1px purple;
    &.extra {
      margin-inline: calc(var(--block-width) / 2 + var(--col-gap) / 2);
    }
    &.szone {
      height: var(--block-height-s);
    }
    &.highlight {
      box-shadow: 0 0 0 1px #00b0ff, 0 0 13px 0px #0077ff,
        0 0 11px 0 skyblue inset;
    }
  }
}
