.inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  .input {
    font-size: 1.2rem;
    font-family: var(--theme-font);
    color: #2885fff2;
    height: 3rem;
    margin: 0.25rem;
  }

  .select {
    margin: 0.25rem 0;
  }

  .ai-assist-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.25rem 0;

    span {
      font-size: 1rem;
      color: #d7e70b;
    }
  }
}
