section#mat {
  margin-top: 200px;
  padding-top: 50px; // 先不管 后面调整
  position: relative;
  #camera {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: var(--perspective);
    transform-style: preserve-3d;
  }
  #plane {
    transform: translateX(0) translateY(0) translateZ(0)
      rotateX(var(--plane-rotate-z));
    width: fit-content;
  }
}
