.root {
  :global(.ant-drawer-content-wrapper) {
    box-shadow: none;
  }
}

.drawer {
  width: 20vw !important;
  left: 10%;
  --height: 40rem;
  top: calc((100% - var(--height)) / 2);
  height: var(--height) !important;
  position: relative;
  border-radius: 0.375rem;
  background: #242424;
  :global(.ant-drawer-header) {
    padding: 1rem 0;
    :global(.ant-drawer-header-title) {
      flex-direction: row-reverse;
      padding-left: 1.5rem;
    }
  }
}
.container {
  position: relative;
  height: 100%;
}

.atkLine,
.counterLine
{
  .title,
  .number {
    font-family: var(--theme-font);
  }
  .number {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.attline {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}

.info {
  justify-content: space-between;
  position: relative;
  height: 15rem; // TODO - fix this
}
