.container {
  display: flex;
  margin: auto;
  padding: 0;
}

.playerRegion {
  text-align: center;
  flex: 1;
  margin: auto;
  padding: 10%;
}

.roomRegion {
  flex: 1;
  margin: auto;
  padding: 10%;
}
.roomRegion > p {
  text-align: start;
}
