@mixin scrollbar {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.417);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.6);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(136, 136, 136, 0.8);
  }
}

@mixin noise-bg($opacity: 0.3) {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-image: url("/neos-assets/noise-light.webp");
    opacity: $opacity;
    pointer-events: none;
  }
}
