.desc {
  line-height: 1.8;
  font-size: 0.875rem;
  max-height: calc(100% - 15rem);
  font-family: var(--theme-font);
  white-space: pre-wrap;

  .maro-item {
    display: flex;
    gap: 0.5rem;
  }
}
