.menu-container {
  position: fixed;
  display: flex;
  // flex-direction: column;
  gap: 6px;
  bottom: 20px;
  right: 35px;
  z-index: 999;
  background-color: #323232;
  padding: 8px;
  border-radius: 6px;
}
