body {
  // background-image: url(/neos-assets/play-mat.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section.mat {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  .camera {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // perspective: var(--perspective);
  }
  .plane {
    transform: translateX(0) translateY(0) translateZ(0)
      rotateX(var(--plane-rotate-x));
    width: fit-content;

    perspective: var(--perspective);
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
}
