.end-container {
  position: relative;
  text-align: center;

  .result {
    font-size: 30px;
    font-family: cursive;
    color: var(--text-color);
  }

  .reason {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
  }
}
