.ygo-card {
  color: white;
  aspect-ratio: var(--card-ratio);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.75em;
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  background-color: #313746;
  background-image: var(--src);
  background-size: contain;
  text-align: center;
}

.targeted {
  position: relative;
  width: 80%;
  height: 80%;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}
