@use "/src/styles/utils.scss";

.layout {
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: calc(100% - var(--header-height));
  display: flex;
}

.sider {
  --sider-width: 18.75rem;
  width: var(--sider-width);
  flex: 0 0 var(--sider-width);
  background: transparent !important;
  position: relative;
  .deck-select-container {
    max-height: 100%;
    min-height: 100%;
    padding-bottom: 1rem;
  }
}

.content {
  display: flex;
  flex: 1;
  padding-bottom: 0;
  padding-right: 1rem;
  .deck {
    width: 41.25rem;
  }
  .select {
    flex: 1;
    .select-btns {
      padding: 0.3rem 0.625rem;
      display: flex;
      gap: 0.5rem;
    }
  }
}

.container {
  width: -webkit-fill-available;
  height: calc(100% - 1.25rem);
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  & > *:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .title {
    height: 2.75rem;
    flex: 0 0 2.75rem;
    justify-content: space-between;
  }
  .deck-zone {
    display: flex;
    flex-direction: column;
    height: 100%;
    --card-grid: 10;
  }
  background-color: hsla(0, 0%, 100%, 0.05);
  backdrop-filter: blur(0.3rem);
}

.deck .container {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.select .container {
  border-left: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.search-cards-container {
  height: 100%;
}

.search-count {
  font-size: 0.7rem;
}

.editing-zone-name {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #212332;
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
  font-family: var(--theme-font);
  user-select: none;
}
